.row
  .span10.offset1
    .customSearch
      .tableName
        Services
      .search
        %input#searchBox{type:"text", placeholder: "Search"}
    %table.table.display.dataTables-table
      %thead
        %tr
          %th Name
          %th Rate
      %tbody
        - @services.each do |service| 
          %tr
            %td= link_to service.name, service 
            %td= number_to_currency(service.price, precision: 2, :locale => "es-PE")