.row
  .span10.offset1
    %h3 Make sure you have your customer created: #{link_to "New Customer", new_customer_path}
    %h3 Make sure you have your rooms created: #{link_to "New Room", new_room_path}
    %h3 Make sure you have your company created: #{link_to "New Company", new_company_path}
    
