.row
  .span10.offset1
    .customSearch
      .tableName
        Room Types
      .search
        %input#searchBox{type:"text", placeholder: "Search"}
    %table.table.display.dataTables-table
      %thead
        %tr
          %th Name
          %th Rate
          %th Guests
      %tbody
        - @room_types.each do |room_type| 
          %tr
            %td= link_to room_type.name, room_type 
            %td= number_to_currency(room_type.price, precision: 2, :locale => "es-PE")
            %td= room_type.spaces