- provide(:header, 'All customers') 

#content
  .row
    .span10.offset1.button-row
      = link_to "New Customer", new_customer_path, class: "btn pull-left"
    .span10.offset1
      %hr

  .row
    .span10.offset1
      %table.table-bordered.table-striped.table.display.dataTables-table
        %thead
          %tr
            %th Name
            %th Company
        %tbody
          - @customers.each do |customer| 
            %tr
              %td= link_to customer.full_name, customer 
              %td
                - if customer.company.nil?
                  No company
                - else
                  = link_to customer.company.name, customer.company