- provide(:header, 'All customers') 

/ = will_paginate 
= link_to "New Customer", new_customer_path

%table#customers-table
  %thead
    %tr
      %th Name
      %th Company
  %tbody
    - @customers.each do |customer| 
      %tr
        %td= link_to customer.full_name, customer 
        %td
          - if customer.companies.first.nil?
            No company
          - else
            = link_to customer.companies.first.name, customer.companies.first
          / = link_to "Delete", customer, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-small"
          / = link_to "Edit", edit_customer_path(customer), class: "btn btn-small"
/ = will_paginate 