- provide(:title, @customer.initial_name)
%ul
  %li= @customer.full_name
  %li= @customer.number
  - unless @customer.company.nil?
    %li= link_to @customer.company.name, @customer.company

= link_to "Back", customers_path, class: "btn btn-large"