.row
  .span10.offset1
    .customSearch
      .tableName
        Companies
      .search
        %input#searchBox{type:"text", placeholder: "Search"}
    %table.table.display.dataTables-table
      %thead
        %tr
          %th Name
          %th Number
      %tbody
        - @companies.each do |company| 
          %tr
            %td= link_to company.name, company 
            %td= company.number