.row
  .span10.offset1
    .customSearch
      .tableName
        Rooms
      .search
        %input#searchBox{type:"text", placeholder: "Search"}
    %table.table.display.dataTables-table
      %thead
        %tr
          %th Name
          %th Room Type
      %tbody
        - @rooms.each do |room| 
          %tr
            %td= link_to room.name, room 
            %td= link_to room.room_type.name, room.room_type