/* reservations calendar for individual rooms */
#reservations .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    // font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 60px;
    vertical-align: top;
    font-size: 14px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
  .beforetoday { color: #999; }

  .reservation_link{
    font-size: 12px;
  }
}

#reservations #month {
  margin: 0;
  padding-bottom: 10px;
  font-size: 22px;
  color: #333333;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #8DA0B2;

    &:hover{
      color: #5B6773;
      font-weight: bold;
    }
  }
}

#reservations ul {
  font-size: 11px;
  padding-left: 20px;
}
