.dataTables-table{
  thead{
    tr{
      th{
        padding:10px;
      }
    }
  }

  tbody{
    tr{
      td{
        padding: 10px;
      }
    }
  }
}

.dataTables_wrapper{
  // padding: 20px;
}

.button-row{
  // padding-bottom: 20px;
  padding-top: 20px;
}