.row  
  .span10.offset1
    .customSearch
      .tableName
        Receipts
      .search
        %input#searchBox{type:"text", placeholder: "Search"}
    %table.table.display.dataTables-table
      %thead
        %tr
          %th View
          %th Reservation
          %th Price
          %th Date Paid
      %tbody
        - @receipts.each do |receipt| 
          %tr
            %td= link_to "View Receipt", receipt
            %td= link_to receipt.reservation.full_name, receipt.reservation
            %td= number_to_currency(receipt.price, precision: 2, :locale => "es-PE")
            %td= receipt.date_paid