%footer.footer
  %small
    created by: 
    %a{ :href => 'http://twitter.com/benson_perry' }
      benson perry
  %nav
    %ul
      %li= link_to "about", about_path
      %li=  link_to "contact", contact_path